<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ourhistory.hj.com.ourhistory" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="历史上的今天"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity android:name=".activity.MainActivity" >
        </activity>
        <activity android:name=".activity.EventActivity"/>
        <activity android:name=".activity.DetailActivity"/>
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>